* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/*Aqui estan los estilos de Header y Hero*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 180px 120px 180px;
    background-color: #1F2937;
    color: white;
    gap: 70px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 2.4rem;
    color: #F9FAF8;
    font-weight: bold;
}

nav .nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 1.6rem;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero-content {
    width: 50%;
    flex: 0 1 auto;
}

h1 {
    font-size: 4.8rem;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-content p {
    font-size: 1.8rem;
    color: #E5E7EB;
}

.hero-content button {
    margin-top: 15px;
    padding: 8px 30px;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-image {
    flex: 1 0 auto;
    background-color: grey;
}


/*Aqui están los estilos de la sección informativa*/

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 120px;
}

.info-section h2 {
    font-size: 3.2rem;
    color: #1F2937;
}

.info-items {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-item {
    flex: 0 0 150px;
}

.info-item img {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 8px;
}

.info-item p {
    color: gray;
    font-size: 1.6rem;
    text-align: center;
}


/*Aqui están los estilos de la sección de frase inspiradora*/

.inspiring-quote-section {
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.inspiring-quote-section div {
    flex: 0 1 700px;
    display: flex;
    flex-direction: column;
}

.inspiring-quote {
    font-size: 3.0rem;
    font-weight: 400;
    font-style: italic;
}

.inspiring-quote-author {
    font-size: 2.0rem;
    align-self: flex-end;
    font-weight: bold;
}


/*Aquí están los estilos de la sección call to action*/

.calltoaction-section {
    display: flex;
    justify-content: center;
    padding: 90px 0;
}

.calltoaction-container {
    background-color: #3882F6;
    flex: 0 1 900px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-radius: 8px;
    padding: 0 100px;
}

.calltoaction-left {

}

.calltoaction-left-title {
    font-size: 2rem;
    font-weight: bold;
}

.calltoaction-left-content {
    font-size: 1.6rem;
    color: #E5E7EB;
}

.calltoaction-right button {
    background-color: #3882F6;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    padding: 5px 30px;
    border: solid white 2px;
    border-radius: 8px;
}


/*Aquí están los estilos del footer*/

footer {
    height: 85px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.6rem;
}